:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: start end;
  min-width: 320px;
  min-height: 100vh;
  
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

div form .input{
  background-color: blackx;
  border: none;
}

/* Estilos para la lista de tareas */
.todo-list {
  width: 600px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

/* Estilos para el formulario */
.todo-form {
  margin-bottom: 20px;
}

.todo-form input[type="text"] {
  width: 200px;
  padding: 5px;
  margin-right: 10px;
}

.todo-form button {
  padding: 5px 10px;
  background-color: #21bd43;
  color: #fff;
  border: none;
  cursor: pointer;
}

.todo-form button:hover {
  background-color: #2ab147;
}
.todo-list table thead tr {
  text-align: center;
}
.todo-list table tbody td, th{
  text-align: center;
  align-items: center;
  place-content: center;
}

.todo-list table tbody td:last-child {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; 
}

.todo-list table button:first-child {
  background-color: #21bd43
}

.todo-list table button:last-child {
  background-color: #dc3545;
}

.todo-list table button:first-child:hover {
  background-color: #32b12d;
}
.todo-list table button:last-child:hover {
  background-color: #b42231;
}



